.login-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgb(249, 246, 246);
}
.login-header {
    margin-bottom: 1.5rem;
}
.login-button {
    width: 100%;
}
.forgot-password {
    text-align: center;
    margin-top: 1rem;
}